* {
    user-select: none;
}

body {
    padding: 5%;
    font-family: 'Pretendard', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.bar-container {
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    height: 16px;
    position: relative;
}

.bar-fill {
    background-color: #3cb4ac;
    height: 100%;
    width: 20%;
    transition: width 0.4s ease;
}

.labels {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5px auto;
    font-size: 14px;
}

#explanation {
font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    color: #555;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

h2 {
font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}

img {
display: flex;
    background-color: white;
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    
}

p {
    font-size: large;
}
