*{user-select: none;}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FF6F61, #FF9F00);
    -webkit-background-clip: text;
    color: transparent;
}

input {
    padding: 12px 20px;
    margin-bottom: 5%;
    width: 100%;
    height: 70%;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF9F00;
}